<launch>

  <param name="use_sim_time" value="false" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find p3at_2dnav)/config/costmap_common_params_p3at.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find p3at_2dnav)/config/costmap_common_params_p3at.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find p3at_2dnav)/config/local_costmap_params_p3at.yaml" command="load" />
    <rosparam file="$(find p3at_2dnav)/config/global_costmap_params_p3at.yaml" command="load" />
    <rosparam file="$(find p3at_2dnav)/config/base_local_planner_params_p3at.yaml" command="load" />
  </node>

<!--
  <node name="map_server" pkg="map_server" type="map_server" args="$(find p3at_2dnav)/maps/test_map.yaml"/>
-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find p3at_2dnav)/maps/hpec.yaml"/>

  <include file="$(find amcl)/examples/amcl_omni.launch" />

  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

</launch>

