<launch>
  <node pkg="rosaria" type="RosAria" name="RosAria" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="9600"/>
    <remap from="/RosAria/cmd_vel" to="/cmd_vel" />
<!--
    <remap from="/RosAria/cmd_vel" to="/cmd_vel" />
-->
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_laser_tf_base_link_broadcaster" args="0.2 0 0.0 0 0 0 1 /base_link /base_laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="sonar_tf_base_link_broadcaster" args="0.0 0 0.0 0 0 0 1 /base_link /sonar 100" />
<!--
  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
-->
</launch>
